<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Escuela Popular de Artes</title>
  <link rel="stylesheet" href="stylesheets/styleTemplate.css" type="text/css">
  <link rel="stylesheet" href="javascripts/lib/emberCalendar/ember-calendar.css" type="text/css">
  <link rel='stylesheet' href='stylesheets/calendarStyle.css'>
    <link rel='stylesheet' href='stylesheets/calendarStyle.css'>
    <link rel='stylesheet' href='stylesheets/jquery/jquery-ui.min.css'>
    <link rel='stylesheet' href='stylesheets/menuStyles.css'>
    <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="javascripts/lib/handlebars-v1.3.0.js"></script>
    <script src="javascripts/lib/ember/ember.js"></script>
    <script src="javascripts/lib/ember-data/ember-data.js"></script>
    <script src='javascripts/lib/emberCalendar/ember-calendar.js'></script>
    <script src="javascripts/lib/bootstrap.js"></script>
    <script src="javascripts/lib/jqBootstrapValidation.js"></script>
    <script src="javascripts/lib/jquery/ui/jquery-ui.min.js"></script>
    <script src="javascripts/lib/moment/moment.min.js"></script>
    <script src="javascripts/lib/pikaday/pikaday.js"></script>



</head>
<body>
<script src="javascripts/Application.js"></script>
<!--  start load all controllers-->
<script src="javascripts/controllers/AttendanceController.js"></script>
<script src="javascripts/controllers/CourseController.js"></script>
<script src="javascripts/controllers/EnrollmentController.js"></script>
<script src="javascripts/controllers/LoginController.js"></script>
<script src="javascripts/controllers/RegisterStudentController.js"></script>
<script src="javascripts/controllers/StudentController.js"></script>
<script src="javascripts/controllers/SubjectMatterController.js"></script>
<script src="javascripts/controllers/TeacherController.js"></script>
<script src="javascripts/controllers/UserController.js"></script>
<!--  end load all controllers-->


<!-- views start -->
<script src='javascripts/lib/emberCalendar/ember-calendar.js'></script>
<script src='javascripts/views/EmberCalendarView.js'></script>
<!-- -->
<!--  start load all stores-->
<script src="javascripts/stores/AttendanceAdapter.js"></script>
<script src="javascripts/stores/CourseAdapter.js"></script>
<script src="javascripts/stores/EnrollmentAdapter.js"></script>
<script src="javascripts/stores/StudentAdapter.js"></script>
<script src="javascripts/stores/SubjectMatterAdapter.js"></script>
<script src="javascripts/stores/TeacherAdapter.js"></script>
<script src="javascripts/stores/UserAdapter.js"></script>
<!--  end load all stores-->

<!--  start load all models-->
<script src="javascripts/models/Attendance.js"></script>
<script src="javascripts/models/Course.js"></script>
<script src="javascripts/models/Enrollment.js"></script>
<script src="javascripts/models/Student.js"></script>
<script src="javascripts/models/SubjectMatter.js"></script>
<script src="javascripts/models/Teacher.js"></script>
<script src="javascripts/models/User.js"></script>
<!--  end load all models-->

<!-- start route-->
<script src="javascripts/routes/AuthenticatedRoute.js"></script>
<script src="javascripts/Utils/utilsEPA.js"></script>
<script src="javascripts/Utils/Session.js"></script>
<!-- end route-->
<!-- utils COLEGIO EPA -->

<!-- End utils COLEGIO EPA -->
<script src="javascripts/helpers/DatePicker.js"></script>
<script src="javascripts/helpers/ModalCourse.js"></script>
<script src="javascripts/helpers/DatePicker.js"></script>
<script src="javascripts/helpers/ModalCourse.js"></script>
<script src="javascripts/lib/bootstrap.js"></script>

<link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
<link rel="stylesheet" href="stylesheets/bootstrap-responsive.css" type="text/css">
<link rel="stylesheet" href="stylesheets/normalize.css" type="text/css">
<link rel="stylesheet" href="stylesheets/style.css" type="text/css">
<link rel="stylesheet" href="stylesheets/pikaday/pikaday.css">
<link rel="stylesheet" href="stylesheets/styleTemplate.css" type="text/css">
<link rel='stylesheet' href='javascripts/lib/emberCalendar/ember-calendar.css'>

    <% include menuOptions %>
    <% include /../common/UserSession.ejs %>
