<script type="text/x-handlebars" data-template-name='application' id="application">
    <div class="page">
        <div class="header">
            <ul class="navigation">
            <a href="index.html" id="logo"><img src="images/logo.png" alt="logo"></a>
                <li>
                    <a href="index.html">Inicio</a>
                </li>
                <li>
                  <a href="programs.html">Programas</a>
                </li>
                <li>
                    <a href="blog.html">Noticias</a>
                </li>
                <li>
                  <a href="contact.html">Contacto</a>
                </li>
                 <li class="menu">
                    <a href="/teacher" id='session'></a>
                     <ul style="list-style-type: none;display:none">
                        <li><a id="editUser"  style="margin-top:-7px">Editar</a></li><br/><br/><br/><br/>
                        <li><a id='logout' style="margin-top:-28px">Salir</a></li><br/>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="body">
            <div class="guitar">
                <ul id="leftMenu">
                    <li>
                        <a href="/schedule">Horarios de Cursos</a>
                    </li>
                    <li>
                        <a href="/teacherSchedule">Horarios Profesor</a>
                    </li>
                    <li>
                        <a href="/student">Estudiantes</a>
                    </li>
                    <li>
                        <a href="/subject">Materias</a>
                    </li>
                    <li>
                        <a href="/teacher">Profesores</a>
                    </li>
                    <li>
                        <a href="/course">Cursos</a>
                    </li>
                    <li class="last">
                        <a href="/enrollment">Inscripciones</a>
                    </li>
                </ul>
                  <div id="content" class="content">
                      {{outlet}}
                      {{outlet 'modal'}}
                  </div>

            </div>
        </div>
<% include /../footers/footer %>

