<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Escuela Popular de Artes</title>
  <link rel="stylesheet" href="stylesheets/styleTemplate.css" type="text/css">
  <link rel="stylesheet" href="javascripts/lib/emberCalendar/ember-calendar.css" type="text/css">
  <link rel='stylesheet' href='stylesheets/calendarStyle.css'>

    <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="javascripts/lib/handlebars-v1.3.0.js"></script>
    <script src="javascripts/lib/ember/ember.js"></script>
    <script src="javascripts/lib/ember-data/ember-data.js"></script>
    <script src='javascripts/lib/emberCalendar/ember-calendar.js'></script>
    <script src="javascripts/lib/bootstrap.js"></script>
    <script src="javascripts/lib/jqBootstrapValidation.js"></script>
    <script src="javascripts/lib/jquery/ui/jquery-ui.min.js"></script>
    <script src="http://momentjs.com/downloads/moment.min.js"></script>
    <script src="http://dbushell.github.io/Pikaday/pikaday.js"></script>
    <script src="http://dbushell.github.io/Pikaday/pikaday.js"></script>

</head>
<body>
<script src="javascripts/Application.js"></script>
<!-- utils COLETGIO EPA -->
<script src="javascripts/Utils/UtilsEPA.js"></script>
<!-- End utils COLETGIO EPA -->
<script src="javascripts/helpers/DatePicker.js"></script>
<script src="javascripts/helpers/ModalCourse.js"></script>
<script src="javascripts/helpers/DatePicker.js"></script>
<script src="javascripts/helpers/ModalCourse.js"></script>


<script src="http://momentjs.com/downloads/moment.min.js"></script>
<script src="http://dbushell.github.io/Pikaday/pikaday.js"></script>
<script src="javascripts/lib/bootstrap.js"></script>


<link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
<link rel="stylesheet" href="stylesheets/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="stylesheets/bootstrap-responsive.css" type="text/css">
<link rel="stylesheet" href="stylesheets/bootstrap-responsive.min.css" type="text/css">
<link rel="stylesheet" href="stylesheets/normalize.css" type="text/css">
<link rel="stylesheet" href="stylesheets/style.css" type="text/css">
<link rel="stylesheet" href="http://dbushell.github.io/Pikaday/css/pikaday.css">
<link rel="stylesheet" href="stylesheets/styleTemplate.css" type="text/css">
<link rel='stylesheet' href='javascripts/lib/emberCalendar/ember-calendar.css'>
<link rel='stylesheet' href='stylesheets/calendarStyle.css'>
<link rel='stylesheet' href='stylesheets/jquery/jquery-ui.min.css'>
<link rel='stylesheet' href='stylesheets/menuStyles.css'>
    <% include /menuOptions %>
    <% include /../common/UserSession.ejs %>
