<meta charset="UTF-8">
<title>Music School Website Template</title>
<link rel="stylesheet" href="http://localhost:3000/stylesheets/styleTemplate.css" type="text/css">
<script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="http://localhost:3000/javascripts/lib/handlebars-v1.3.0.js"></script>
<script src="http://localhost:3000/javascripts/lib/ember/ember.js"></script>
<script src="http://localhost:3000/javascripts/lib/ember-data/ember-data.js"></script>
