<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">

    <div class="page">
        <% include partials/header %>
    
        <div class="body">
            <div class="programs">
                <ul>
                    <li class="selected">
                        <a href="programs.html">Piano</a>
                    </li>
                    <li>
                        <a href="violin.html">Violin</a>
                    </li>
                    <li>
                        <a href="saxophone.html">Saxophone</a>
                    </li>
                    <li>
                        <a href="guitar.html">Guitar</a>
                    </li>
                    <li>
                        <a href="drums.html">Drums</a>
                    </li>
                    <li class="last">
                        <a href="voice-lesson.html">Voice <br> Lessons</a>
                    </li>
                </ul>
                <div class="content">
                    <div>
                        <h2>This is just a place holder</h2>
                        <div>
                            <p>
                                This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text.
                            </p>
                            <p>
                                You can remove any link to our website from this website template, you're free to use this website template without linking back to us.
                            </p>
                            <p>
                                If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Forums</a>.
                            </p>
                        </div>
                        <a href="blog.html"><img src="images/piano3.jpg" alt=""></a>
                    </div>
                    <div class="section">
                        <div>
                            <h4>Beginner</h4>
                            <span>Option A: £ 000</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat massa ipsum.
                            </p>
                            <span>Option B: £ 000</span>
                            <p>
                                In odio elit, blandit id adipiscing nec, commodo et urna.
                            </p>
                        </div>
                        <div>
                            <h4>Intermediate</h4>
                            <span>Option A: £ 000</span>
                            <p>
                                Quisque sodales rutrum enim quis scelerisque.
                            </p>
                            <span>Option B: £ 000</span>
                            <p>
                                Nam eget massa quis ipsum varius mattis ac a ante. Donec vulputate volutpat elit.
                            </p>
                        </div>
                        <div>
                            <h4>Advanced</h4>
                            <span>Option A: £ 000</span>
                            <p>
                                Aliquam erat volutpat. In hac habitasse platea dictumst. Quisque magna massa, scelerisque eu convallis.
                            </p>
                            <span>Option B: £ 000</span>
                            <p>
                                Phasellus accumsan aliquet nisl at bibendum.
                            </p>
                        </div>
                    </div>
                    <div>
                        <h4>Schedule</h4>
                        <ul>
                            <li>
                                <span>Monday</span> <span><span>10:00am -</span> 12:00pm - Instructor</span> <span><span>1:00am -</span> 3:00pm - Instructor</span>
                            </li>
                            <li>
                                <span>Tuesday</span> <span><span>10:00am -</span> 12:00pm - Instructor</span> <span><span>1:00am -</span> 3:00pm - Instructor</span>
                            </li>
                            <li>
                                <span>Wednesday</span> <span><span>10:00am -</span> 12:00pm - Instructor</span> <span><span>1:00am -</span> 3:00pm - Instructor</span>
                            </li>
                            <li>
                                <span>Thursday</span> <span><span>10:00am -</span> 12:00pm - Instructor</span> <span><span>1:00am -</span> 3:00pm - Instructor</span>
                            </li>
                            <li>
                                <span>Friday</span> <span><span>10:00am -</span> 12:00pm - Instructor</span> <span><span>1:00am -</span> 3:00pm - Instructor</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <% include partials/footer %>
    </div>
</body>
</html>