<% include ../partialsViewTeacher/header %>
<script src="/../javascripts/routes/AttendanceRoute.js"></script>
<script type="text/x-handlebars" id="index">
<p> This is the homePage studers </p>
</script>

<script type="text/x-handlebars" data-template-name="attendances/index">
    {{#if exitStudent}}
        Busqueda de assitencia : {{input type='text' value=filter placeholder='Nombre del curso,profesor , fecha inicio or fecha fin'}}
        <p>Nr asistencias registradas = {{content.length}}</p>
    <table class="table table-hover">
        <tr>
            <th>curso</th>
            <th>profesor</th>
            <th>tipo de assitencia</th>
            <th>fecha de asistencia</th>
            <th>fecha de la clase a reponer</th>
            <th>fecha de compensacion</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
            {{#each attendance in filteredContent  itemController="attendancesEdit"}}
              <td>{{attendance.course.name}}</td>
              <td>{{attendance.teacher.name}}</td>
              <td>{{attendance.typeAttendance}}</td>
              <td>{{attendance.markedDate}}</td>
              <td>{{attendance.classReplaceDate}}</td>
              <td>{{attendance.postponedDate}}</td>
              <td>{{#linkTo "attendances.edit" attendance}}<img src="/../images/edit-icon.png"/>{{/linkTo}}</td>
              <td><a href="#" {{action removeItem attendance}}><img src="/../images/delete-icon.png" border="0"/></a></td>
              </tr>
            {{/each}}
    </table>
    {{else}}
     No hay asistencias registradas
    {{/if}}
    <p>{{#linkTo "attendances.new"}}<img src="/../images/add-icon.png"/> registrar nueva asistenci{{/linkTo}}</p>
</script>

<script type="text/x-handlebars" data-template-name="_attendanceForm" >
      <form class="form-horizontal">
        {{#if controller.isNew}}
            <label for="course">Curso</label>
            {{view Ember.Select contentBinding="courses" optionLabelPath="content.name" selectionBinding="courseValue" valueBinding="course" }}
        {{else}}
            <label for="course">Curso</label>
            {{view Ember.Select contentBinding="courses" optionLabelPath="content.name" selectionBinding="course" valueBinding="course" }}
        {{/if}}

        <label >tipo de asistencia</label><br/>
        {{view Ember.Select contentBinding="typeAttendances" optionLabelPath="content" selectionBinding="typeAttendanceClass" valueBinding="typeAttendance" }}
        {{outlet attendanceForm}}


    </form>
</script>

<script type="text/x-handlebars" data-template-name ="test1">
    <label for="markedDate">Fecha de Registro de Asistencia </label>
    {{custom-date-picker elementId='element1' valueBinding="content.markedDate"}}

</script>

<script type="text/x-handlebars" data-template-name="test2">
    <label for="classReplaceDate">Fecha de Clase A posponer </label>
    {{custom-date-picker elementId='element1' valueBinding="content.classReplaceDate"}}
    <label for="postponedDate">Fecha de Clase A reemplazar </label>
    {{custom-date-picker elementId='element2' valueBinding="content.postponedDate"}}
</script>


<script type="text/x-handlebars" data-template-name="attendances/edit">
    {{#if controller.isNew}}
      <h1>Registrar Nueva Asistencia</h1>
    {{else}}
      <h1>Editar Assitencia</h1>
    {{/if}}
    {{partial "attendanceForm"}}
    {{#if controller.isNew}}
        <input type="button" class="btn" {{action updateItem this}}>GUARDAR ASISTENCIA</button>
    {{else}}
        <input type="button" class="btn" {{action updateItem this}}>ACTUALIZAR ASISTENCIA</button>
    {{/if}}
</script>
</body>
</html>
