<% include ../partialsViewTeacher/header %>
<script src="/../javascripts/routes/AttendanceRoute.js"></script>
<script type="text/x-handlebars" id="index">
<p> This is the homePage studers </p>
</script>

<script type="text/x-handlebars" data-template-name="attendances/index">
    {{#if exitStudent}}
        <p>Nr asistencias registradas = {{content.length}}</p>
    <table class="table table-hover">
        <tr>
            <th>curso</th>
            <th>profesor</th>
            <th>tipo de assitencia</th>
            <th>fecha de asistencia</th>
            <th>fecha de la clase a reponer</th>
            <th>fecha de compensacion</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
            {{#each attendance in controller itemController="attendancesEdit"}}
              <td>{{attendance.course.name}}</td>
              <td>{{attendance.teacher.name}}</td>
              <td>{{attendance.typeAttendance}}</td>
              <td>{{attendance.markedDate}}</td>
              <td>{{attendance.classReplaceDate}}</td>
              <td>{{attendance.postponedDate}}</td>
              <td>{{#linkTo "attendances.edit" attendance}}<img src="/../images/edit-icon.png"/>{{/linkTo}}</td>
              <td><a href="#" {{action removeItem attendance}}><img src="/../images/delete-icon.png" border="0"/></a></td>
              </tr>
            {{/each}}
    </table>
    {{else}}
     No hay asistencias registradas
    {{/if}}
    <p>{{#linkTo "attendances.new"}}<img src="/../images/add-icon.png"/> registrar nueva asistenci{{/linkTo}}</p>
</script>

<script type="text/x-handlebars" data-template-name="_courseForm" >
      <form class="form-horizontal">
        {{#if controller.isNew}}
            <label for="teacher">Profesor</label>
            {{view Ember.Select contentBinding="teachers" optionLabelPath="content.name" selectionBinding="teacherValue" valueBinding="teacher" }}
            <label for="course">Curso</label>
            {{view Ember.Select contentBinding="courses" optionLabelPath="content.name" selectionBinding="courseValue" valueBinding="course" }}
        {{else}}
            <label for="teacher">Profesor</label>
            {{view Ember.Select contentBinding="teachers" optionLabelPath="content.name" selectionBinding="teacher" valueBinding="teacher" }}
            <label for="course">Curso</label>
            {{view Ember.Select contentBinding="courses" optionLabelPath="content.name" selectionBinding="course" valueBinding="course" }}
        {{/if}}

        <label >tipo de asistencia</label><br/>
        {{view Ember.Select contentBinding="typeAttendances" optionLabelPath="content" selectionBinding="typeAttendanceClass" valueBinding="typeAttendance" }}
        {{outlet attendanceForm}}


    </form>
</script>

<script type="text/x-handlebars" data-template-name ="test1">
    <label for="markedDate">Fecha de Registro de Asistencia </label>
    {{custom-date-picker elementId='element1' valueBinding="content.markedDate"}}

</script>

<script type="text/x-handlebars" data-template-name="test2">
    <label for="classReplaceDate">Fecha de Clase A posponer </label>
    {{custom-date-picker elementId='element1' valueBinding="content.classReplaceDate"}}
    <label for="postponedDate">Fecha de Clase A reemplazar </label>
    {{custom-date-picker elementId='element2' valueBinding="content.postponedDate"}}
</script>


<script type="text/x-handlebars" data-template-name="attendances/edit">
    {{#if controller.isNew}}
      <h1>New course</h1>
    {{else}}
      <h1>Editar Assitencia</h1>
    {{/if}}
      {{partial "courseForm"}}
      <p>
        <button {{action updateItem this}}>Update record</button>
      </p>
</script>
</body>
</html>
