<script type="text/x-handlebars" id="application">
    <div class="page">
        <div class="header">
            <ul class="navigation">
                <li>
                    <a href="index.html">Inicio</a>
                </li>
                <li>
                    <a href="about.html">Nosotros</a>
                </li>
                <li>
                  <a href="programs.html">Programas</a>
                </li>
                <li class="selected">
                    <a href="/student/courses">Estudiante</a>
                </li>
                <li>
                    <a href="blog.html">Noticias</a>
                </li>
                <li>
                    <a href="contact.html">Contacto</a>
                </li>
                 <li class="menu">
                    <a href="/teacher" id='session'></a>
                     <ul style="list-style-type: none;display:none">
                        <li><a id="editUser" style="margin-top:-7px">Editar</a></li><br/><br/><br/><br/>
                        <li><a id='logout' style="margin-top:-28px">Salir</a></li><br/>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="body">
            <div class="guitar">
                <ul>
                    <li>
                        <a href="/student/courses">Cursos Inscriptos</a>
                    </li>
                    <li>
                        <a href="/student/schedules">Horarios</a>
                    </li>
                    <li>
                        <a href="/student/Attendance">Reportes de Assistencia</a>
                    </li>
                </ul>
                {{#if existCalendar}}
                <div style="padding-left:155px">
                    {{view Ember.Calendar.CalendarView controllerBinding='controllers.calendar'}}
                </div>
                {{else}}
                  <div id="content" class="content">
                      {{outlet}}
                      {{outlet 'modal'}}
                  </div>
                {{/if}}
            </div>
        </div>
<% include ../footers/footer %>
