<div id="validation-data-dialog" title="Editar informacion del Usuario" style="display:none" >
   <p id="message"> validation data</p>
   <div>
        <img src="images/loading_spinner.gif"/>
   </div>
</div>
