<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
    <meta charset="UTF-8">
    <title>Guitar - Music School Website Template</title>
    <link rel="stylesheet" href="stylesheets/styleTemplate.css" type="text/css">
    <script src="javascripts/lib/jquery.min.js"></script>
    <script src="javascripts/Utils/UtilsEPA.js"></script>
</head>
<body>
    <div class="page">
        <div class="header">
            <a href="index.html" id="logo"><img src="images/logo.png" alt="logo"></a>
            <ul  class="navigation">
                <li>
                    <a href="index.html">Inicio</a>
                </li>
                <li>
                    <a href="about.html">Nosotros</a>
                </li>
                <li class="selected">
                    <a href="programs.html">Programas</a>
                </li>
                <li>
                    <a href="/teacher">Admin</a>
                </li>
                <li>
                    <a href="blog.html">Noticias</a>
                </li>
                <li>
                    <a href="contact.html">Contacto</a>
                </li>
            </ul>
        </div>
        <div class="body">
            <div class="guitar">
                <ul id="menu">

                </ul>
                <div class="content">
                    <div>
                        <h2 id="name">GUITARRA CRIOLLA</h2>
                        <div>
                            <p id="contenido">
                                Clases privadas tanto dentro los Programas Regulares en Música como en los Cursos Libres donde se lleva un programa completo en Guitarra Criolla con mención en Folklore.
                            </p>
                        </div>
                        <a href="blog.html"><img src="images/guitar3.jpg" alt=""></a>
                    </div>
                    <div id="detalles" class="section" style='width:95%'>
                    </div>
                    <div id="horario"/>
                    <div id="fecha"/>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="about">
                <h3>Nosotros</h3>
                <div>
                    <a href="about.html"><img src="images/instructors.jpg" alt=""></a>

                    La escuela Popular de Artes se consolida como un centro de enseñanza integral, formación artística, estudio, interpretación, difusión musical y promoción cultural

                </div>
            </div>
            <div class="contact">
                <h3>Contact</h3>
                <ul>
                    <li>
                        <span>Lugar :</span>
                        <p>
                            Calle Valdiviezo No. 648 e/ Chuquisaca y La Paz.  Zona El Prado
                        </p>
                    </li>
                    <li>
                        <span>Sitio Web :</span>
                        <p>
                            <a href="http://www.epabolivia.com">epabolivia.com</a>
                        </p>
                    </li>
                    <li>
                        <span>Telefono :</span>
                        <p>
                            4663838 - 4200372 - 70751731
                        </p>
                    </li>
                    <li>
                        <span>Email :</span>
                        <p>
                            epabolivia@gmail.com
                        </p>
                    </li>
                </ul>
            </div>
            <div class="connect">
                <a href="http://freewebsitetemplates.com/go/twitter/" id="twitter">twitter</a> <a href="http://freewebsitetemplates.com/go/facebook/" id="facebook">facebook</a> <a href="http://freewebsitetemplates.com/go/googleplus/" id="googleplus">google+</a>
            </div>
            <p class="footnote">
                &#169; Copyright 2015. All rights reserved
            </p>
        </div>
    </div>
</body>
<script>
$(document).ready(function(){
    var courseId = utilsEPA.getParameterHeaderBrowserByName('courseId');
    var currentDate = new Date(), year = currentDate.getFullYear(),
        month = currentDate.getMonth() + 1, day= currentDate.getUTCDate();
    var queryParm = "?year="+year +"&month="+month+"&day="+day;
    $.ajax({async:false, url: utilsEPA.getHost() + "/utils/coursesDetails/" +
        courseId , type:"GET", dataType:'json', contentType:"application/x-www-form-urlencoded; charset=UTF-8",
        crossDomain:true, headers : {'API_KEY': localStorage.getItem("token")},
            success: function(result) {
                $('#name').text(result.courses[0].name);
            $('#contenido').text(result.courses[0].subjectDetails.contentSubject);
                $('#detalles').append(result.courses[0].subjectDetails.matterLevelDetail);
                $('#horario').append("<h2> hora:"+result.courses[0].startTime+"-"+result.courses[0].endTime +"</h2>");
                $('#fecha').append("<h2> fecha de fin:"+result.courses[0].endDate+"</h2>");
            }, error: function(result) {
            }
    });
    $.ajax({async:false, url: utilsEPA.getHost() + "/utils/courses" +
        queryParm , type:"GET", dataType:'json', contentType:"application/x-www-form-urlencoded; charset=UTF-8",
        crossDomain:true, headers : {'API_KEY': localStorage.getItem("token")},
            success: function(result) {
                result.courses.forEach(function(course) {
                    var courseId = utilsEPA.getParameterHeaderBrowserByName('courseId');
                    if (courseId === course._id) {
                        $('#menu').append('<li class="selected"><a href="'+utilsEPA.getHost()+'/publicCourse?courseId='+course._id +'" >' + course.name +'Inicio</a></li>');
                    } else {
                        $('#menu').append('<li><a href="'+utilsEPA.getHost()+'/publicCourse?courseId='+course._id +'">' + course.name +'Inicio</a></li>');
                    }
                });
            }
            , error: function(result) {
            }
    });
 })
</script>
</html>
