
<% include ../partialsViewStudent/header %>
<script src="/../javascripts/routes/AttendanceRoute.js"></script>
<script src="/../javascripts/lib/fullcalendar.js"></script>
<link rel="stylesheet" href="/../stylesheets/fullcalendar.print.css" type="text/css">
<link rel="stylesheet" href="/../stylesheets/fullcalendar.css" type="text/css">
<script type="text/x-handlebars" id="index">
</script>

<script type="text/x-handlebars" data-template-name="attendances/index">
<div id="test"/>

</script>
<script type="text/javascript">

$(document).ready(function() {

    $.ajax({url: utilsEPA.getHost() + '/api/enrollment/enrollementCourses/' + utilsEPA.getObjectOwner(), type:"GET", dataType: 'json',contentType: "application/x-www-form -urlencoded; charset=UTF-8",crossDomain: true, headers : {'API_KEY': localStorage.getItem("token")},
        success: function(courses) {
            var enrollmentCourses = [], query;
            courses.forEach(function(course) {
                enrollmentCourses.push(course._id);
            });
            query = '?course = '+ JSON.stringify(enrollmentCourses);
            $.ajax({url: utilsEPA.getHost() + '/api/attendance/attendanceStudent/' + utilsEPA.getObjectOwner()+query, type:"GET", dataType: 'json',contentType: "application/x-www-form -urlencoded; charset=UTF-8",crossDomain: true, headers : {'API_KEY': localStorage.getItem("token")}, courses : courses,
                success: function(attendances) {
                    var events = utilsEPA.getEvents(attendances,courses);
                    $('#content').removeClass("content");
                    $('#content').addClass("calendarStyle");
                    $('#content').fullCalendar({
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month,agendaWeek,agendaDay'
                        },
                        defaultDate: '2015-02-1',
                        businessHours: true, // display business hours
                        editable: true,
                        eventLimit: true, // allow "more" link when too many events
                        events : events
                    });
                }

        });
    }});
});

</script>
<style type="text/css">
    .calendarStyle {
        float:left;
        margin-left: 160px;
        margin-top: -200px;
    }

</style>
</body>
</html>
