
      <div class="footer">
            <div class="about">
                <h3>Nosotros</h3>
                <div>
                    <a href="about.html"><img src="../images/instructors.jpg" alt=""></a>
                    <span>
                      <p style='width:100%'>La escuela Popular de Artes se consolida como un centro de enseñanza integral, formación artística, estudio, interpretación, difusión musical y promoción cultural</p>
                    </span>
                </div>
            </div>
            <div class="contact">
                <h3>Contact</h3>
                <ul>
                    <li>
                        <span>Lugar :</span>
                        <p>Calle Valdiviezo No. 648 e/ Chuquisaca y La Paz.  Zona El Prado</p>
                    </li>
                    <li>
                        <span>Sitio Web :</span>
                        <p>
                            <a href="http://www.epabolivia.com">epabolivia.com</a>
                        </p>
                    </li>
                    <li>
                        <span>Telefono :</span>
                        <p>
                            4663838 - 4200372 - 70751731
                        </p>
                    </li>
                    <li>
                      <span>Email :</span>
                      <p>
                        epabolivia@gmail.com
                      </p>
                    </li>
                </ul>
            </div>
            <div class="connect">
                <a href="http://freewebsitetemplates.com/go/twitter/" id="twitter">twitter</a> <a href="http://freewebsitetemplates.com/go/facebook/" id="facebook">facebook</a> <a href="http://freewebsitetemplates.com/go/googleplus/" id="googleplus">google+</a>
            </div>
            <p class="footnote">
                &#169; Copyright 2015. All rights reserved
            </p>
      </div>
  </div>
</script>
