<% include ../partialsViewAdministrator/header %>
<script src="javascripts/routes/CourseRoute.js"></script>
<script type="text/x-handlebars" id="index">
<p> This is the homePage studers </p>
</script>

<script type="text/x-handlebars" data-template-name="courses/index">
    {{#if exitStudent}}
        Busqueda de curso : {{input type='text' value=filter placeholder='Nombre del curso,profesor , fecha inicio or fecha fin'}}
        <p>Nr of courses = {{content.length}}</p>
    <table class="table table-hover">
        <tr>
            <th>selecionar1</th>
            <th>nombre del curso</th>
            <th>profesor</th>
            <th>fecha de inicio</th>
            <th>fecha de fin</th>
            <th>hora inicio</th>
            <th>hora fin</th>
            <th>Costo del Curso</th>
            <th>EStudiantes Inscriptos </th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
            {{#each course in filteredContent itemController="coursesEdit"}}
              <tr {{bindAttr class="selected:warning"}}>
              <td>{{view Ember.Checkbox checkedBinding="selected"}}</td>
              <td><a href="#" > {{course.name}} </td>
              <td><a {{bindAttr href="{{course.teacherUrl}}"}}>{{course.teacher.name}}</a></td>
              <td>{{course.startDate}}</td>
              <td>{{course.endDate}}</td>
              <td>{{course.startTime}}</td>
              <td>{{course.endTime}}</td>
              <td>{{course.cost}}</td>
              <td> numero de studiantes link</td>
              <td>{{#linkTo "courses.edit" course}}<img src="images/edit-icon.png"/>{{/linkTo}}</td>
              <td><a href="#" {{action removeItem course}}><img src="images/delete-icon.png" border="0"/></a></td>
              </tr>
            {{/each}}
    </table>
    {{else}}
     No hay cusos registrados
    {{/if}}
    <p>{{#linkTo "courses.new"}}<img src="images/add-icon.png"/> New Course{{/linkTo}}</p>
</script>

<script type="text/x-handlebars" data-template-name="_courseForm" >
      <form class="form-horizontal">
        <label for="name">nombre del curso</label>
            {{view Ember.TextField valueBinding="name"}}

        {{#if controller.isNew}}
            <label for="teacher">Profesor</label>
            {{view Ember.Select contentBinding="teachers" optionLabelPath="content.name" selectionBinding="teacherValue" valueBinding="teacher" }}
            <label for="subject">Contenido de materia</label>
            {{view Ember.Select contentBinding="subjects" optionLabelPath="content.name" selectionBinding="subjectValue" valueBinding="subject" }}
        {{else}}
            <label for="teacher">Profesor</label>
            {{view Ember.Select contentBinding="teachers" optionLabelPath="content.name" selectionBinding="teacher" valueBinding="teacher" }}
            <label for="subject">Contenido de la materia</label>
            {{view Ember.Select contentBinding="subjects" optionLabelPath="content.name" selectionBinding="subject" valueBinding="subject" }}
        {{/if}}
        <label for="startDate">Fecha de Inicio </label>
            {{custom-date-picker valueBinding="startDate"}}
        <label for="endDate">Fecha de Inicio </label>
            {{custom-date-picker valueBinding="endDate"}}
        <label for="startTime">Hora de inicio </label>
            {{input type="time" valueBinding="startTime"}}
        <label for="endTime">Hora Fin </label>
            {{input type="time" valueBinding="endTime"}}
        <label for="cost">costo Bs</label>
            {{view Ember.TextField valueBinding="cost" type="money" }}

    </form>
</script>


<script type="text/x-handlebars" data-template-name="courses/edit">
    {{#if controller.isNew}}
      <h1>Nuevo Curso</h1>
    {{else}}
      <h1>Editar Curso</h1>
    {{/if}}
      {{partial "courseForm"}}
      <p>
        <button {{action updateItem this}}>Update record</button>
      </p>
</script>
</body>
</html>
