<% include ../partialsViewAdministrator/header %>
<script src="javascripts/routes/CourseRoute.js"></script>
<script type="text/x-handlebars" id="index">
<p> Pagina de Cursos </p>
</script>

<script type="text/x-handlebars" data-template-name="courses/index">
    {{#if exitStudent}}
        Busqueda de Curso : {{input type='text' value=filter placeholder='Curso,Profesor, Fecha inicio o Fecha Fin'}}
        <p>Nro de Cursos = {{content.length}}</p>
    <table class="table table-hover">
        <tr>
            <th>Nombre</th>
            <th>Profesor</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Hora Inicio</th>
            <th>Hora Fin</th>
            <th>Costo Bs</th>
            <th>Estudiantes Inscritos </th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
            {{#each course in filteredContent itemController="coursesEdit"}}
              <td><a href="#" > {{course.name}} </td>
              <td><a {{bindAttr href="{{course.teacherUrl}}"}}>{{course.teacher.name}}</a></td>
              <td>{{course.startDate}}</td>
              <td>{{course.endDate}}</td>
              <td>{{course.startTime}}</td>
              <td>{{course.endTime}}</td>
              <td>{{course.cost}}</td>
              <td> Numero de estudiantes</td>
              <td>{{#linkTo "courses.edit" course}}<img src="images/edit-icon.png"/>{{/linkTo}}</td>
              <td><a href="#" {{action removeItem course}}><img src="images/delete-icon.png" border="0"/></a></td>
              </tr>
            {{/each}}
    </table>
    {{else}}
     No hay cusos registrados
    {{/if}}
    <p>{{#linkTo "courses.new"}}<img src="images/add-icon.png"/> Nuevo Curso{{/linkTo}}</p>
</script>
<style>
     fieldset.group  {
  margin: 0;
  padding: 0;
  margin-bottom: 1.25em;
  padding: .125em;
  width: 300px;
}



fieldset.group legend {
  margin: 0;
  padding: 0;
  font-weight: bold;
  margin-left: 20px;
  font-size: 100%;
  color: black;
}


ul.checkbox  {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  list-style: none;
}

ul.checkbox li input {
  margin-right: .25em;
}
ul.checkbox li {
  margin-left: 30px !important ;
}


</style>
<script type="text/x-handlebars" data-template-name="_courseForm" >
        <div class="spin" data-spin/>
      <form id="CourseForm" class="form-horizontal" style="margin-left:25px">
        <label for="name">Nombre del Curso</label>
            {{view Ember.TextField valueBinding="name"}}

        {{#if controller.isNew}}
            <label for="teacher">Profesor</label>
            {{view Ember.Select contentBinding="teachers" optionLabelPath="content.name" selectionBinding="teacherValue" valueBinding="teacher" }}
            <label for="subject">Contenido de materia</label>
            {{view Ember.Select contentBinding="subjects" optionLabelPath="content.name" selectionBinding="subjectValue" valueBinding="subject" }}
        {{else}}
            <label for="teacher">Profesor</label>
            {{view Ember.Select contentBinding="teachers" optionLabelPath="content.name" selectionBinding="teacher" valueBinding="teacher" }}
            <label for="subject">Contenido de la materia</label>
            {{view Ember.Select contentBinding="subjects" optionLabelPath="content.name" selectionBinding="subject" valueBinding="subject" }}
        {{/if}}
        <label for="startDate">Fecha de Inicio </label>
            {{custom-date-picker valueBinding="startDate"}}
        <label for="endDate">Fecha de Inicio </label>
            {{custom-date-picker valueBinding="endDate"}}
        <label for="startTime">Hora de inicio </label>
            {{input type="time" valueBinding="startTime"}}
        <label for="endTime">Hora Fin </label>
            {{input type="time" valueBinding="endTime"}}
        <label for="cost">Costo Bs</label>
            {{view Ember.TextField valueBinding="cost" type="money" }}
        <br/>
        <br/>
        <fieldset class="group" style="margin-left:250px; margin-top: -370px;">
        <h1> Dias del Curso</h1>
        <ul class="checkbox">
            <li><input type="checkbox"  name="monday" id="monday"><label for="monday">Lunes</label></li>
            <li><input type="checkbox"  name="tuesday" id="tuesday"/><label for="tuesday">Martes</label></li>
            <li><input type="checkbox"  name="wednesday" id="wednesday"/><label for="wednesday">Miercoles</label></li>
            <li><input type="checkbox"  name="thursday" id="thursday"/><label for="thursday">Jueves</label></li>
            <li><input type="checkbox"  name="friday" id="friday"/><label for="friday">Viernes</label></li>
            <li><input type="checkbox"  name="saturday" id="saturday"/><label for="saturday">Sabado</label></li>
        </ul>
        </fieldset>
        <div>
            <input type="button" class="btn" {{action updateItem this}} value="Guardar">
            <input type="button" class="btn" onclick="utilsEPA.cleanUpTextFields('CourseForm')" value="Limpiar Campos"/>
        </div>
        <h1 id="messageError" style="display:none">El dato ya existe en la base de datos</h1>
    </form>
</script>


<script type="text/x-handlebars" data-template-name="courses/edit">
    {{#if controller.isNew}}
      <h1  style="margin-left: 250px" id="newCourse">Nuevo Curso</h1>
    {{else}}
      <h1 style="margin-left: 250px" id="editCourse">Editar Curso</h1>
    {{/if}}
      {{partial "courseForm"}}
</script>

</body>
</html>
