<% include ../partialsViewAdministrator/header %>
<script src="javascripts/routes/EnrollmentRoute.js"></script>
<script type="text/x-handlebars" id="index">
<p> Pagino de Inscripciones </p>
</script>

<script type="text/x-handlebars" data-template-name="enrollments/index">
    {{#if exitStudent}}
        <p>Nr of enrollments = {{content.length}}</p>
    <table class="table table-hover">
        <tr>
            <th>nombre del Studiante</th>
            <th>Fecha de pago</th>
            <th>Nro cursos</th>
            <th> NIT </th>
            <th>costo Matricula</th>
            <th>costo del los cursos<th>
            <th>costo Total</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>

            {{#each enrollment in controller itemController="enrollmentsEdit"}}
              <td>{{enrollment.student.name}}</td>
              <td>{{enrollment.payDate}}</td>
              <td>15</td>
              <td>{{enrollment.nit}}</td>
              <td>{{enrollment.costEnrollment}}</td>
              <td>{{enrollment.totalCostCourse}}</td>
              <td>{{enrollment.totalPay}}</td>
              <td>{{#linkTo "enrollments.edit" enrollment}}<img src="images/edit-icon.png"/>{{/linkTo}}</td>
              <td><a href="#" {{action removeItem enrollment}}><img src="images/delete-icon.png" border="0"/></a></td>
              </tr>
            {{/each}}
    </table>
    {{else}}
     No hay inscripciones registradas
    {{/if}}
    <p>{{#linkTo "enrollments.new"}}<img src="images/add-icon.png"/> Nueva Inscripcion{{/linkTo}}</p>
</script>

<script type="text/x-handlebars" data-template-name="_courseForm" >
      <form class="form-horizontal">
        {{#if controller.isNew}}
            <label for="student">Estudiante</label>
            {{view Ember.Select contentBinding="students" optionLabelPath="content.name" selectionBinding="studentValue" valueBinding="student" }}
        {{else}}
            <label for="student">Estudiante</label>
            {{view Ember.Select contentBinding="students" optionLabelPath="content.name" selectionBinding="student" valueBinding="student" }}
        {{/if}}
        <label for="payDate">Fecha de Pago </label>
            {{custom-date-picker valueBinding="payDate"}}
        <label for="costEnrollment">Costo de matricula </label>
            {{input type="number" valueBinding="costEnrollment"}}
        <label for="nit">NIT </label>
            {{input type="number" valueBinding="nit"}}
        <br/>
        <br/>
        <button class="btn" {{action 'showModal' 'edit-course-modal'}} class="">Agregar Curso</button>
        <br/>
        <br/>
        <table class="table table-hover">
        <tr>
            <th>Nombre del Curso </th>
            <th>nombre del Profesor</th>
            <th>Fecha Inicio Curso</th>
            <th>Fecha Fin Curso</th>
            <th>hora inicio</th>
            <th>hora fin</th>
            <th>Costo del Curso</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        {{#each course in ColegioEPA.CourseValues}}
            <tr>
            <td>{{course.name}}</td>
            <td>{{course.teacher.name}}</td>
            <td>{{course.startDate}}</td>
            <td>{{course.endDate}}</td>
            <td>{{course.startTime}}</td>
            <td>{{course.endTime}}</td>
            <td>{{course.cost}}</td>
            <td><a {{action "showModal" 'edit-course-modal' course}}>editar</a></td>
            <td><a {{action "deleteCourse" course}}>eliminar</a></td>
            </tr>
        {{/each}}
        <tr>
         <td colspan="9"> <p style="float:right;margin:20px"><b>Total Costo de los Cursos : {{controller.totalCourses}}</p> </td>
        </tr>
        <tr>
        <td colspan="9"> <p style="float:right;margin:20px"><b>Matricula : {{controller.matricula}}</p> </td>
        </tr>
        <tr>
        <td colspan="9"> <p style="float:right;margin:20px"><b>Total A Pagar : {{controller.total}}</p> </td>
        </tr>
        </table>
    </form>
</script>

<script type="text/x-handlebars" data-template-name="enrollments/edit">
    {{#if controller.isNew}}
      <h1>Nueva Inscripcion</h1>
    {{else}}
        <h1>Editar Inscripcion</h1>
    {{/if}}
        {{partial "courseForm"}}
    <p>
        <button class="btn" {{action updateItem this}}>GUARDAR INSCRIPCION</button>
    </p>
</script>
<!-- start Modal-->
 <script type="text/x-handlebars" data-template-name="components/my-modal">
      <div class="modal fade" style="width:350px">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body" style="width:350px">
              {{yield}}
            </div>
            <br/>
                <button type="button" class="btn btn-primary" {{action 'ok'}}>Agregar Curso</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="edit-course-modal">
      {{#my-modal title='Anadir curso a la inscripcion' ok='save' close='removeModal'}}
        <form {{action 'ok' on='submit' target=view}}>

            <label>Cursos Disponibles</label>
            {{view Ember.Select contentBinding="courses" optionLabelPath="content.name" selectionBinding="courseSelected" valueBinding="courseSelected" }}

        </form>
      {{/my-modal}}
    </script>

<!-- end Modal-->

</body>
</html>
