<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
<script src="javascripts/application.js"></script>
<script src="javascripts/routes/EnrollmentRoute.js"></script>
<script src="javascripts/helpers/ModalCourse.js"></script>
<script src="javascripts/controllers/EnrollmentController.js"></script>
<script src="javascripts/stores/EnrollmentAdapter.js"></script>
<script src="javascripts/stores/SubjectMatterAdapter.js"></script>
<script src="javascripts/stores/CourseAdapter.js"></script>
<script src="javascripts/stores/StudentAdapter.js"></script>
<script src="javascripts/stores/TeacherAdapter.js"></script>
<script src="javascripts/helpers/DatePicker.js"></script>

<script src="javascripts/models/Teacher.js"></script>

<script src="javascripts/models/Enrollment.js"></script>
<script src="javascripts/models/Student.js"></script>
<script src="javascripts/models/Course.js"></script>
<script src="javascripts/models/SubjectMatter.js"></script>
<script src="http://momentjs.com/downloads/moment.min.js"></script>
<script src="http://dbushell.github.io/Pikaday/pikaday.js"></script>
<link rel="stylesheet" href="http://dbushell.github.io/Pikaday/css/pikaday.css">

<script src="javascripts/lib/bootstrap.js"></script>
<link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
<link rel="stylesheet" href="stylesheets/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="stylesheets/bootstrap-responsive.css" type="text/css">
<link rel="stylesheet" href="stylesheets/bootstrap-responsive.min.css" type="text/css">
<link rel="stylesheet" href="stylesheets/normalize.css" type="text/css">
<link rel="stylesheet" href="stylesheets/style.css" type="text/css">
<link rel="stylesheet" href="stylesheets/styleTemplate.css" type="text/css">
<script type="text/x-handlebars" id="application">
    <div class="page">
        <div class="header">
            <a href="index.html" id="logo"><img src="images/logo.png" alt="logo"></a>
            <ul class="navigation">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
                <li class="selected">
                    <a href="programs.html">Programs and Fees</a>
                </li>
                <li>
                    <a href="blog.html">Blog</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
        <div class="body">
            <div class="guitar">
                <ul>
                    <li>
                        <a href="/student">Estudiantes</a>
                    </li>
                    <li>
                        <a href="/subject">Contenido De Cursos</a>
                    </li>
                    <li>
                        <a href="/teacher">Profesores</a>
                    </li>
                    <li>
                        <a href="/course">cursos</a>
                    </li>
                    <li>
                        <a href="/enrollment">inscripcion</a>
                    </li>
                    <li>
                        <a href="drums.html">Ver Cursos</a>
                    </li>
                    <li>
                        <a href="drums.html">Registrar Inscripcion</a>
                    </li>
                    <li class="last">
                        <a href="drums.html">Registrar Inscripcion</a>
                    </li>
                </ul>
                <div class="content">

                         {{outlet}}
                         {{outlet 'modal'}}
                </div>
            </div>

        </div>
        <div class="footer">
            <div class="about">
                <h3>About</h3>
                <div>
                    <a href="about.html"><img src="images/instructors.jpg" alt=""></a>
                    <p>
                        This is just a place holder. You can replace all this text with your own text. Youre free to use this website template.
                    </p>
                    <a href="blog.html" class="more">(more)</a>
                </div>
            </div>
            <div class="contact">
                <h3>Contact</h3>
                <ul>
                    <li>
                        <span>Location :</span>
                        <p>
                            126-U This is just a place holder, so you can see
                            what the site would look like.
                        </p>
                    </li>
                    <li>
                        <span>Email :</span>
                        <p>
                            <a href="http://www.freewebsitetemplates.com/misc/contact">contact@freewebsitetemplates.com</a>
                        </p>
                    </li>
                    <li>
                        <span>Phone :</span>
                        <p>
                            (000) 987 65 43 2100
                        </p>
                    </li>
                </ul>
            </div>
            <div class="connect">
                <a href="http://freewebsitetemplates.com/go/twitter/" id="twitter">twitter</a> <a href="http://freewebsitetemplates.com/go/facebook/" id="facebook">facebook</a> <a href="http://freewebsitetemplates.com/go/googleplus/" id="googleplus">google+</a>
            </div>
            <p class="footnote">
                &#169; Copyright 2012. All rights reserved
            </p>
        </div>
    </div>
</script>
<script type="text/x-handlebars" id="index">
<p> This is the homePage studers </p>
</script>

<script type="text/x-handlebars" data-template-name="enrollments/index">
    {{#if exitStudent}}
        <p>Nr of enrollments = {{content.length}}</p>
    <table class="table table-hover">
        <tr>
            <th>Nro de Inscripcion</th>
            <th>nombre del Studiante</th>
            <th>Fecha de pago</th>
            <th>Nro cursos</th>
            <th> NIT </th>
            <th>costo Matricula</th>
            <th>costo del los cursos<th>
            <th>costo Total</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>

            {{#each enrollment in controller itemController="enrollmentsEdit"}}
              <td><a {{bindAttr href="{{enrollment.id}}"}}>{{enrollment.id}}</a></td>
              <td>{{enrollment.student.name}}</td>
              <td>{{enrollment.payDate}}</td>
              <td>15</td>
              <td>{{enrollment.nit}}</td>
              <td>{{enrollment.costEnrollment}}</td>
              <td>{{enrollment.totalCostCourse}}</td>
              <td>{{enrollment.totalPay}}</td>
              <td>{{#linkTo "enrollments.edit" enrollment}}<img src="images/edit-icon.png"/>{{/linkTo}}</td>
              <td><a href="#" {{action removeItem enrollment}}><img src="images/delete-icon.png" border="0"/></a></td>
              </tr>
            {{/each}}
    </table>
    {{else}}
     No hay inscripciones registradas
    {{/if}}
    <p>{{#linkTo "enrollments.new"}}<img src="images/add-icon.png"/> Nueva Inscripcion{{/linkTo}}</p>
</script>

<script type="text/x-handlebars" data-template-name="_courseForm" >
      <form class="form-horizontal">
        {{#if controller.isNew}}
            <label for="student">Estudiante</label>
            {{view Ember.Select contentBinding="students" optionLabelPath="content.nombre" selectionBinding="studentValue" valueBinding="student" }}
        {{else}}
            <label for="student">Estudiante</label>
            {{view Ember.Select contentBinding="students" optionLabelPath="content.nombre" selectionBinding="student" valueBinding="student" }}
        {{/if}}
        <label for="payDate">Fecha de Pago </label>
            {{custom-date-picker valueBinding="payDate"}}
        <label for="costEnrollment">Costo de matricula </label>
            {{input type="number" valueBinding="costEnrollment"}}
        <label for="nit">NIT </label>
            {{input type="number" valueBinding="nit"}}
        <br/>
        <br/>
        <button {{action 'showModal' 'edit-course-modal'}} class="">Agregar Curso</button>
        <br/>
        <br/>
        <table class="table table-hover">
        <tr>
            <th>Nombre del Curso </th>
            <th>nombre del Profesor</th>
            <th>Fecha Inicio Curso</th>
            <th>Fecha Fin Curso</th>
            <th>hora inicio</th>
            <th>hora fin</th>
            <th>Costo del Curso</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        {{#each course in ColegioEPA.CourseValues}}
            <tr>
            <td>{{course.name}}</td>
            <td>{{course.teacher.name}}</td>
            <td>{{course.startDate}}</td>
            <td>{{course.endDate}}</td>
            <td>{{course.startTime}}</td>
            <td>{{course.endTime}}</td>
            <td>{{course.cost}}</td>
            <td><a {{action "showModal" 'edit-course-modal' course}}>editar</a></td>
            <td><a {{action "deleteCourse" course}}>eliminar</a></td>
            </tr>
        {{/each}}
        </table>
    </form>
</script>

<script type="text/x-handlebars" data-template-name="enrollments/edit">
    {{#if controller.isNew}}
      <h1>Nueva Inscripcion</h1>
    {{else}}
        <h1>Editar Inscripcion</h1>
    {{/if}}
        {{partial "courseForm"}}
    <p>
        <button {{action updateItem this}}>Update record</button>
    </p>
</script>
<!-- start Modal-->
 <script type="text/x-handlebars" data-template-name="components/my-modal">
      <div class="modal fade" style="width:350px">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body" style="width:350px">
              {{yield}}
            </div>
            <br/>
                <button type="button" class="btn btn-primary" {{action 'ok'}}>Agregar Curso</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="edit-course-modal">
      {{#my-modal title='Anadir curso a la inscripcion' ok='save' close='removeModal'}}
        <form {{action 'ok' on='submit' target=view}}>

            <label>Cursos Disponibles</label>
            {{view Ember.Select contentBinding="courses" optionLabelPath="content.name" selectionBinding="courseSelected" valueBinding="courseSelected" }}

        </form>
      {{/my-modal}}
    </script>

<!-- end Modal-->




</body>
</html>
