<% include ../partialsViewAdministrator/header %>
  <script src="javascripts/controllers/ScheduleController.js"></script>
  <script src="javascripts/routes/ScheduleRoute.js"></script>
  <script type="text/x-handlebars" id="index">
    <p> Horario de Cursos </p>
  </script>
</body>
</html>
