<% include ../partialsViewAdministrator/header %>
<script src="javascripts/routes/StudentRoute.js"></script>
<script type="text/x-handlebars" id="index">
<p> This is the homePage studers </p>
</script>

<script type="text/x-handlebars" data-template-name="students/index">
      {{#if exitStudent}}
          Busqueda de Estudiante : {{input type='text' value=filter placeholder='Nombre, Ci or correo electronico'}}
          <p>Nr of students = {{content.length}}</p>
      <table class="table table-hover">
          <tr>
              <th>Selected</th>
              <th {{action 'sortBy' 'nombre'}}><a>nombre</a></th>
              <th {{action 'sortBy' 'email'}}><a>email</a></th>
              <th {{action 'sortBy' 'ci'}}><a>ci</a></th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
              {{#each student in filteredContent itemController="studentsEdit"}}
                <tr {{bindAttr class="selected:warning"}}>
                <td>{{view Ember.Checkbox checkedBinding="selected"}}</td>
                <td>{{student.nombre}}</td>
                <td>{{student.email}}</td>
                <td>{{student.ci}}</td>
                <td>{{#linkTo "students.edit" student}}<img src="images/edit-icon.png"/>{{/linkTo}}</td>
                <td><a href="#" {{action removeItem student}}><img src="images/delete-icon.png" border="0"/></a></td>
                </tr>
              {{/each}}
      </table>
      {{else}}
       NO students
      {{/if}}
      <p>{{#linkTo "students.new"}}<img src="images/add-icon.png"/> New Student{{/linkTo}}</p>
</script>

<script source="" type="text/x-handlebars" data-template-name="_studentForm" >
      <form class="form-horizontal">
        <label for="nombre">nombre</label>
          {{view Ember.TextField valueBinding="nombre"}}
        <label  for="email">email</label>
          {{view Ember.TextField valueBinding="email"}}
        <label for="ci">ci</label>
          {{view Ember.TextField valueBinding="ci"}}
        <label  for="birthDate">birthDate</label>
          {{custom-date-picker valueBinding="birthDate"}}
    </form>
  </script>
 <script type="text/x-handlebars" data-template-name="students/edit" >

    {{#if controller.isNew}}
      <h1>Nuevo Studiante</h1>
    {{else}}
      <h1>Editar Studiante</h1>
    {{/if}}
      {{partial "studentForm"}}
      <p>
        <button {{action updateItem this}}>Update record</button>
      </p>
  </script>
</body>
</html>
