<% include ../partialsViewAdministrator/header %>
<script src="javascripts/routes/StudentRoute.js"></script>
<script type="text/x-handlebars" id="index">
<p> Pagina de Estudiantes </p>
</script>

<script type="text/x-handlebars" data-template-name="students/index">
      {{#if exitStudent}}
          Busqueda de Estudiante : {{input type='text' value=filter placeholder='Nombre, Ci or correo electronico'}}
          <p>Nr of students = {{content.length}}</p>
      <table class="table table-hover">
          <tr>
              <th>Selected</th>
              <th {{action 'sortBy' 'name'}}><a>nombre</a></th>
              <th {{action 'sortBy' 'email'}}><a>email</a></th>
              <th {{action 'sortBy' 'ci'}}><a>ci</a></th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
              {{#each student in filteredContent itemController="studentsEdit"}}
                <tr {{bindAttr class="selected:warning"}}>
                <td>{{view Ember.Checkbox checkedBinding="selected"}}</td>
                <td>{{student.name}}</td>
                <td>{{student.email}}</td>
                <td>{{student.ci}}</td>
                <td>{{#linkTo "students.edit" student}}<img src="images/edit-icon.png"/>{{/linkTo}}</td>
                <td><a href="#" {{action removeItem student}}><img src="images/delete-icon.png" border="0"/></a></td>
                </tr>
              {{/each}}

      </table>
      {{else}}
       No Existen Estudiantes
      {{/if}}
      <p><a href="/user#/new?selectedRole=student"><img src="images/add-icon.png"/> Nuevo Estudiante </a></p>
</script>
<script source="" type="text/x-handlebars" data-template-name="_studentForm" >
      <form class="form-horizontal">
        <label for="Nombre">nombre</label>
          {{view Ember.TextField valueBinding="name"}}
        <label  for="Email">email</label>
          {{view Ember.TextField valueBinding="email"}}
        <label for="CI">CI</label>
          {{view Ember.TextField valueBinding="ci"}}
        <label  for="Fecha de Nacimiento">Fecha Nacimiento</label>
          {{custom-date-picker valueBinding="birthDate"}}
    </form>
  </script>
 <script type="text/x-handlebars" data-template-name="students/edit" >

    {{#if controller.isNew}}
      <h1>Nuevo Estudiante</h1>
    {{else}}
      <h1>Editar Estudiante</h1>
    {{/if}}
      {{partial "studentForm"}}
      <p>
        <input type="submit" class="btn" {{action updateItem this}} value ="Guardar"/>
      </p>
  </script>
</body>
</html>
