<% include ../partialsViewAdministrator/header %>
<script src="javascripts/routes/SubjectMatterRoute.js"></script>
<script type="text/x-handlebars" id="index">
<p> This is the homePage studers </p>
</script>

<script type="text/x-handlebars" data-template-name="subjects/index">
    {{#if exitStudent}}
        <p>Nr of subjects = {{content.length}}</p>
    <table class="table table-hover">
        <tr>
            <th>Selected</th>
            <th>nombre</th>
            <th>Contenido</th>
            <th>Horarios</th>
            <th>Materia niveles</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
            {{#each subject in controller itemController="subjectsEdit"}}
              <tr {{bindAttr class="selected:warning"}}>
              <td>{{view Ember.Checkbox checkedBinding="selected"}}</td>
              <td>{{subject.name}}</td>
              <td>{{subject.contentSubject}}</td>
              <td>{{subject.schedule}}</td>
              <td>{{subject.matterLevelDetail}}</td>
              <td>{{#linkTo "subjects.edit" subject}}<img src="images/edit-icon.png"/>{{/linkTo}}</td>
              <td><a href="#" {{action removeItem subject}}><img src="images/delete-icon.png" border="0"/></a></td>
              </tr>
            {{/each}}
    </table>
    {{else}}
     NO subjects
    {{/if}}
    <p>{{#linkTo "subjects.new"}}<img src="images/add-icon.png"/> Nueva Materia{{/linkTo}}</p>
</script>

<script source="" type="text/x-handlebars" data-template-name="_subjectForm" >
      <form class="form-horizontal">
        <label for="name">nombre</label>
          {{view Ember.TextField valueBinding="name"}}
        <label  for="contentSubject">contenido</label>
          {{view Ember.TextArea valueBinding="contentSubject" rows="12" cols="70"}}
        <label for="schedule">horario</label>
          {{view Ember.TextArea valueBinding="schedule"}}
        <label for="days">Dias</label>
          {{view Ember.TextArea valueBinding="days"}}
        <label  for="matterLevelDetail">matterLevelDetail</label>
          {{view Ember.TextArea valueBinding="matterLevelDetail"}}
    </form>
  </script>
 <script type="text/x-handlebars" data-template-name="subjects/edit" >

    {{#if controller.isNew}}
      <h1>Nueva Materia</h1>
    {{else}}
      <h1>Editar Materia</h1>
    {{/if}}
      {{partial "subjectForm"}}
      <p>
        <button {{action updateItem this}}>Update record</button>
      </p>
  </script>
</body>
</html>
