<% include ../partialsViewAdministrator/header %>
<script src="javascripts/routes/SubjectMatterRoute.js"></script>
<script type="text/x-handlebars" id="index">
<p> Pagina de Materias </p>
</script>

<script type="text/x-handlebars" data-template-name="subjects/index">
    {{#if exitStudent}}
        <p>Nro de Materias = {{content.length}}</p>
    <table class="table table-hover">
        <tr>
            <th>Nombre</th>
            <th>Contenido</th>
            <th>Horarios</th>
            <th>Materia niveles</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
            {{#each subject in controller itemController="subjectsEdit"}}
              <td>{{subject.name}}</td>
              <td>{{subject.contentSubject}}</td>
              <td>{{subject.schedule}}</td>
              <td>{{subject.matterLevelDetail}}</td>
              <td>{{#linkTo "subjects.edit" subject}}<img src="images/edit-icon.png"/>{{/linkTo}}</td>
              <td><a href="#" {{action removeItem subject}}><img src="images/delete-icon.png" border="0"/></a></td>
              </tr>
            {{/each}}
    </table>
    {{else}}
     No hay Materias
    {{/if}}
    <p>{{#linkTo "subjects.new"}}<img src="images/add-icon.png"/> Nueva Materia{{/linkTo}}</p>
</script>

<script source="" type="text/x-handlebars" data-template-name="_subjectForm" >
      <form id="SubjectForm" class="form-horizontal" style="margin-left: 50px">
        <label for="name">Nombre</label>
          {{view Ember.TextField valueBinding="name"}}
        <label  for="contentSubject">Contenido</label>
          {{view Ember.TextArea valueBinding="contentSubject" rows="12" cols="70"}}
        <label for="schedule">Horario</label>
          {{view Ember.TextArea valueBinding="schedule"}}
        <label for="days">Dias</label>
          {{view Ember.TextArea valueBinding="days"}}
        <label  for="matterLevelDetail">Detalles de la materia</label>
          {{view Ember.TextArea valueBinding="matterLevelDetail"}}
        <br/>
        <div>
            <input type="button" class="btn" {{action updateItem this}} value="Guardar">
            <input type="button" class="btn" onclick="utilsEPA.cleanUpTextFields('SubjectForm')" value="Limpiar Campos"/>
        </div>
    </form>
  </script>
 <script type="text/x-handlebars" data-template-name="subjects/edit" >

    {{#if controller.isNew}}
      <h1>Nueva Materia</h1>
    {{else}}
      <h1>Editar Materia</h1>
    {{/if}}
    {{partial "subjectForm"}}
  </script>
</body>
</html>
