<% include ../partialsViewAdministrator/header %>
<script src="javascripts/routes/teacherScheduleRoute.js"></script>
<script src="javascripts/controllers/TeacherScheduleController.js"></script>
<script type="text/x-handlebars" id="index">
<p> Horarios de Profesor </p>
</script>


</body>
</html>
