<% include ../partialsViewAdministrator/header %>
<script src="javascripts/routes/TeacherRoute.js"></script>
<script type="text/x-handlebars" data-template-name="teachers/index">
    {{#if exitStudent}}
        Busqueda de Profesores : {{input type='text' value=filter placeholder='Nombre, Ci or correo electronico'}}
        <p>Nro de profesores= {{content.length}}</p>
    <table class="table table-hover">
        <tr>
            <th>nombre</th>
            <th>apellido</th>
            <th>email</th>
            <th>ci</th>
            <th>fecha de nacimiento</th>
          </tr>
            {{#each teacher in filteredContent itemController="teachersEdit"}}
              <td>{{teacher.name}}</td>
              <td> gomez </td>
              <td>{{teacher.email}}</td>
              <td>{{teacher.ci}}</td>
              <td>{{teacher.birthDate}}</td>
              <td>{{#linkTo "teachers.edit" teacher}}<img src="images/edit-icon.png"/>{{/linkTo}}</td>
              <td><a href="#" {{action removeItem teacher}}><img src="images/delete-icon.png" border="0"/></a></td>
              </tr>
            {{/each}}
    </table>
    {{else}}
    No Existen Profesores registrados
    {{/if}}
    <p><a href="/user#/new?selectedRole=teacher"><img src="images/add-icon.png"/> Nuevo Profesor</a></p>
</script>

<script source="" type="text/x-handlebars" data-template-name="_teacherForm" >
      <form id="TeacherForm" class="form-horizontal">
        <label for="Nombre">nombre</label>
          {{view Ember.TextField valueBinding="name" placeholder="Nombre del profesor"}}
        <label for="Apellido">Apellido </label>
          {{view Ember.TextField valueBinding="lastName" placeholder="Apellido del profesor"}}
        <label  for="Email">email</label>
          {{view Ember.TextField valueBinding="email" placeholder="Email del Profesor"}}
        <label for="CI">ci</label>
          {{view Ember.TextField valueBinding="ci" placeholder="ci del profesor"}}
        <label for="phone">Telefono Fijo</label>
          {{view Ember.TextField valueBinding="phone" placeholder="ci del profesor"}}
        <label for="cellPhone">Celular</label>
          {{view Ember.TextField valueBinding="cellPhone" placeholder="ci del profesor"}}
        <label for="Address">Direccion</label>
          {{view Ember.TextField valueBinding="address" placeholder="direcion del profesor"}}
        <label  for="birthDate">fecha de nacimiento</label>
          {{custom-date-picker valueBinding="birthDate" placeholder="fecha de nacimiento"}}
        <br/>
        <div>
            <input type="button" class="btn" {{action updateItem this}} value="Guardar">
            <input type="button" class="btn" onclick="utilsEPA.cleanUpTextFields('TeacherForm')" value="Limpiar Campos"/>
        </div>
    </form>
  </script>
 <script type="text/x-handlebars" data-template-name="teachers/edit" >
    {{#if controller.isNew}}
      <h1>Nuevo Profesor</h1>
    {{else}}
      <h1>Editar Profesor</h1>
    {{/if}}
    {{partial "teacherForm"}}
  </script>
</body>
</html>
