<% include ../partialsViewAdministrator/header %>
<script src="javascripts/routes/TeacherRoute.js"></script>
<script type="text/x-handlebars" data-template-name="teachers/index">
    {{#if exitStudent}}
        <p>Nro de profesores= {{content.length}}</p>
    <table class="table table-hover">
        <tr>
            <th>Selected</th>
            <th>nombre</th>
            <th>email</th>
            <th>ci</th>
            <th>birthDate</th>
          </tr>
            {{#each teacher in controller itemController="teachersEdit"}}
              <tr {{bindAttr class="selected:warning"}}>
              <td>{{view Ember.Checkbox checkedBinding="selected"}}</td>
              <td>{{teacher.name}}</td>
              <td>{{teacher.email}}</td>
              <td>{{teacher.ci}}</td>
              <td>{{teacher.birthDate}}</td>
              <td>{{#linkTo "teachers.edit" teacher}}<img src="images/edit-icon.png"/>{{/linkTo}}</td>
              <td><a href="#" {{action removeItem teacher}}><img src="images/delete-icon.png" border="0"/></a></td>
              </tr>
            {{/each}}
    </table>
    {{else}}
    No existen profesores registrados
    {{/if}}
    <p>{{#linkTo "teachers.new"}}<img src="images/add-icon.png"/> New Teacher{{/linkTo}}</p>
</script>

<script source="" type="text/x-handlebars" data-template-name="_teacherForm" >
      <form class="form-horizontal">
        <label for="name">nombre</label>
          {{view Ember.TextField valueBinding="name"}}
        <label  for="email">email</label>
          {{view Ember.TextField valueBinding="email"}}
        <label for="ci">ci</label>
          {{view Ember.TextField valueBinding="ci"}}
        <label  for="birthDate">birthDate</label>
          {{custom-date-picker valueBinding="birthDate"}}
    </form>
  </script>
 <script type="text/x-handlebars" data-template-name="teachers/edit" >

    {{#if controller.isNew}}
      <h1>Nuevo Profesor</h1>
    {{else}}
      <h1>Editar Profesor</h1>
    {{/if}}
      {{partial "teacherForm"}}
      <p>
        <input type="button" class="btn" value="Registar clase" {{action updateItem this}}/>
      </p>
  </script>


</body>
</html>
