<% include ../partialsViewAdministrator/header %>
<script src="javascripts/routes/UserRoute.js"/>
<script type="text/javascript" src="javascript/lib/jquery.form-validator.min.js"></script>
<script type="text/x-handlebars" id="index">
<p> Pagina de Usuarios </p>
</script>

<script type="text/x-handlebars" data-template-name="users/index">
    {{#if exitStudent}}
        Busqueda de Estudiante : {{input type='text' value=filter placeholder='Nombre, Ci or correo electronico'}}
        <p>Nr of users = {{content.length}}</p>
    <table class="table table-hover">
        <tr>
            <th>Selected</th>
            <th {{action 'sortBy' 'login'}}><a>login</a></th>
            <th {{action 'sortBy' 'password'}}><a>password</a></th>
            <th {{action 'sortBy' 'email'}}><a>email</a></th>
            <th {{action 'sortBy' 'token'}}><a>token</a></th>
            <th {{action 'sortBy' 'role'}}><a>Rol</a></th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
            {{#each user in filteredContent itemController="usersEdit"}}
              <tr {{bindAttr class="selected:warning"}}>
              <td>{{view Ember.Checkbox checkedBinding="selected"}}</td>
              <td>{{user.login}}</td>
              <td>{{user.password}}</td>
              <td>{{user.email}}</td>
              <td>{{user.token}}</td>
              <td>{{user.role}}</td>
              <td>{{#linkTo "users.edit" user}}<img src="images/edit-icon.png"/>{{/linkTo}}</td>
              <td><a href="#" {{action removeItem user}}><img src="images/delete-icon.png" border="0"/></a></td>
              </tr>
            {{/each}}
    </table>
    {{else}}
     No hay Usuarios
    {{/if}}
    <p>{{#linkTo "users.new"}}<img src="images/add-icon.png"/> Nuevo Usuario{{/linkTo}}</p>
</script>

<script type="text/x-handlebars" data-template-name="_userForm" >
    <p> Campos Requeridos (*) </p>
    <form id ="UserForm" class="form-horizontal">
        <label for="nameUser">* Nombre</label>
            {{view Ember.TextField valueBinding="name" placeholder="Nombre del usuario" name="nameUser"}}
        <label for="lastNameUser">* Apellido</label>
            {{view Ember.TextField valueBinding="lastName" placeholder="Apellido del usuario" name="lastNameUser"}}
        <label for="ciUser">* CI </label>
            {{view Ember.TextField valueBinding="ci" placeholder="CI del usuario " name="ciUser"}}
        <label for="phoneUser">Telefono fijo </label>
            {{input type="number" data-validation="number" data-validation-allowing="range[4000000;9000000]" valueBinding="phone" placeholder="Telefono fijo del usuario " name="phoneUser"}}
        <label for="cellPhoneUser">Celular del usuario </label>
            {{input type="tel" valueBinding="cellPhone" data-validation="number" data-validation-allowing="range[1;9000000]" placeholder="Celular del usuario" name="cellPhoneUser"}}
        <label for="addressUser">Direccion del usuario</label>
            {{view Ember.TextField valueBinding="address" placeholder="Direccion del usuario" name="addressUser"}}
        <label  for="roleUser">* Rol</label>
            {{view Ember.Select selectionBinding="ColegioEPA.selectedRole.role" contentBinding= "ColegioEPA.RolesController" optionValuePath="content.type" optionLabelPath="content.label"  prompt="Selecionar el rol" name="roleUser"}}
            <div>
            <input type="button" class="btn" {{action updateItem this}} value="Guardar">
            <input type="button" class="btn" onclick="utilsEPA.cleanUpTextFields('UserForm')" value="Limpiar Campos"/>
            </div>
    </form>
  </script>

    <script type="text/x-handlebars" data-template-name="users/edit">
    <div style="padding-left:45px">
        {{#if controller.isNew}}
        <h1 id="usuario">Nuevo Usuario</h1>
        {{else}}
            <h1>Editando Usuario</h1>
        {{/if}}
            {{partial "userForm"}}
    </div>
    </script>
</body>
</html>
